$color: #fff;

body {
    font-family: "微软雅黑";
	transition: all 1s ease-out;
}

ul {
    list-style: none;
    
    li {
        display: block;
        color: $color;
    }
}

a {
    color: $color;
}

div {
    padding: 0;
    margin: 0;
}